* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;

}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background-color: black;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.heading {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    color: white;
    text-transform: capitalize
}

select {
    width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    color: darkslategray;
    font-size: 14px;
    font-weight: lighter;
}

.btn {
    width: 100%;
    height: 60px;
    background-color: #0c80ef;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
}

.btn:hover {
    background-color: cadetblue;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: steelblue;
}

.hide {
    display: none;
}

.timer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.timer .progress {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 3px solid cadetblue;
}

.timer .progress .progress-bar {
    width: 50%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background: linear-gradient(to right, deepskyblue, yellowgreen);
    transition: 1s linear;
}

.timer .progress .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.question-wrapper .number {
    color: steelblue;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}


.question-wrapper .number .total {
    color: teal;
    font-size: 18px;
}

.question-wrapper .question {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}





